 
body{
  
  background: url(img.jpg);
}
h1{
  text-align: center;
  color:wheat;
}
h2{
  text-align: center;
  color:wheat;
}

.table_style_1 {
      font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
      height: 300px;
      width: 750px;
      table-layout: fixed;
      border-collapse: collapse;
      
    }

    .table_style_1 tbody {
      display: block;
      width: 765px;
      overflow: auto;
      height: 300px;
    }

    .table_style_1 thead tr {
      display: block;
      width: 765px;
    }

    .table_style_1 td,
    .table_style_1 th {
      border: 1px solid black;
      padding: 8px;
      color: #0C0D4C;
      font-weight: 600;

    }

    th {
      cursor: pointer;
    }

    .table_style_1 tr:nth-child(even) {
      background-color: rgb(210, 225, 240);
    }

    .table_style_1 tr:nth-child(odd) {
      background-color: #f2f2f2;
    }

    .table_style_1 tr:hover {
      background-color: #74B9FF;
    }

    .table_style_1 th {
      padding-top: 12px;
      padding-bottom: 12px;
      text-align: left;
      background-color: wheat;
      color: #410202;
      font-weight: 1000;
    }

    input[type=text],
    select,
    textarea {
      width: 300px;
      background-color: white;
      box-shadow: 5px 5px 5px #aaaaaa;
      padding: 12px;
      border: 1px solid #ccc;
      border-radius: 10px;
      resize: vertical;
      font-size: 15px;
      font-weight: bold;
      color: #0C0D4C;
    }
